	body{
		position: relative;
		bottom: 5px;
	    color: #666666 ;
	    background-color:#FFFFFF ;
	    font-family: Verdana, Arial, sans-serif;
	}
	#wrapper{
		width: 80%;
	    margin: 0 auto;
	}

	h1{
		color: #FFFFFF;
		line-height: 200%;
	    margin: 0 auto;
		background-image: url('../Images/background.jpg');
		background-repeat: no-repeat;
		background-size: 1067px 60px;
		height: 100%; 
		width: 200%;
	}

	h2{
		position: relative;
		bottom: 5px;
	    color: #3399CC;
	    font-family: Georgia, serif;
	}

	nav {
		position: relative;
		bottom: 5px;
	    font-weight: bold;
	    background-color: #90C7E3;
	    color: #666666;
	} 


	footer {
		position: relative;
		bottom: 5px;
	    font-style: italic;
	    text-align: center;
	    font-size: .70em;
	    background-color: #FFFFFF;
	    color: #666666;
	}

	img {
		height: 50%;
		width: 100%; 	
		position: relative;
		bottom: 5px;
	} 